

# 1. Directory and Folder Rules
# Ignore any folder named 'build', 'bin', or 'objs' anywhere in the repository
build/
bin/
objs/
.vscode/
pure_gauge_bindata/
.venv/
filter/.venv/

# Ignore the common CMake and Make build/cache directories
CMakeFiles/
CMakeCache.txt
MakeFile
.ninja_deps
.ninja_log

# 2. Executable and Object File Rules
# Ignore common compiled files
*.o
*.a
*.so
*.lo
*.la
*.dll
*.exe
*.txt
*.dat

# 3. Large Data Files
# Ignore simulation result data files
hmc_gpu/hmc_results/
qcd/data_analyze/**/*.png
qcd/data_analyze/**/*.txt
qcd/data_analyze/.venv/
*.csv
