

# 1. Directory and Folder Rules
# Ignore any folder named 'build', 'bin', or 'objs' anywhere in the repository
build/
bin/
objs/
.vscode/
pure_gauge_bindata/

# Ignore the common CMake and Make build/cache directories
CMakeFiles/
CMakeCache.txt
MakeFile
.ninja_deps
.ninja_log

# 2. Executable and Object File Rules
# Ignore common compiled files
*.o
*.a
*.so
*.lo
*.la
*.dll
*.exe
# mac shit
*.DS_Stores
.DS_Store
